div.container {
	width: 100%;
	margin: 0px;
	border: 1px solid gray;
	line-height: 150%;
}

.L1 {
	background-color: #3385ff;
	border-width: 1px;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(221, 221, 221);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(221, 221, 221);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(221, 221, 221);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	cursor: pointer;
	font-family: tahoma, arial, 'Hiragino Sans GB', ו, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: white;
	height: 63px;
	line-height: 18px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
	text-decoration: none;
	width: 56px;
	position: relative;
	left: 300px;
	top: 200px;
	height: 19px;
	width: 60px;
}

#i1 {
	left: 200px;
	top: 80px;
}

.left {
	float: left;
	background-color: #eeeeee;
	height: 500px;
	width: 800px;
	border: solid 1px black;
	overflow: auto;
	display:inline-block;
}

.right {
	float: left;
	background-color: #aaaaaa;
	height: 500px;
	width: 400px;
	border: solid 1px black;
	overflow-y: scroll;
}